@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Rubik+Puddles&family=Ubuntu:wght@300&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button{
  outline: none;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.logoE{
  /* border: 2px solid #5465ff; */
  z-index: 0;
  position: relative;
}
.logoE::after,.logoE::before{
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
}
.logoE::before{
  width: 105px;
  height: 40px;
}
.logoE::after{
  width: 140px;
  height: 15px;
}
.logoE:hover::before{
  width: 0px;
  background: #fff;
}
.logoE:hover::after{
  height: 0px;
  background: #fff;
}

/* profile animation */
@media (prefers-reduced-motion: no-preference) {
  .profile {
    transform: rotateZ(5deg);
    animation: App-logo infinite 20s ease-in-out;
  }
}
@keyframes App-logo {
  10% {
    transform: rotateZ(0deg);
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
    transform: rotateZ(5deg);
  }
  40% {
    transform: rotateZ(0deg);
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
    transform: rotateZ(-5deg);
  }
  80% {
    transform: scale(1);
    transform: rotateZ(0deg);
  }
  100% {
    transform: scale(1.1);
    transform: rotateZ(5deg);
  }
}
/* shake effect on erorr */
.shake{
  animation: shake 300ms linear;
}

@keyframes shake {
  0%{transform: translateX(0);}
  25%{transform: translateX(5px);}
  50%{transform: translateX(-5px);}
  75%{transform: translateX(5px);}
  100%{transform: translateX(0);}
}

.bag{
  transform-origin: center;
  animation: hangging 10s linear infinite;
}
@keyframes hangging {
  25% {transform: rotate(10deg);}
  50% {transform: rotate(0);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0);}
}

.shines {
  background: linear-gradient(to right, #ec4899 20%, #ef4444 40%, #eab308 60%);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.shines2 {
  background: linear-gradient(to right, #ec4899 20%, #ef4444 40%, #eab308 60%);
  background-size: 200% auto;
  /* background-clip: text; */
  /* color: transparent; */
  animation: shine 1s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.circle{
  animation: rotateHue 2s alternate infinite;
}

@keyframes rotateHue {
  to{ filter: hue-rotate(1turn); }
}

/* invisible scroll bar */
.invisibleScrollBar::-webkit-scrollbar {
  background-color: transparent;
  width: 0;

}
